/* palette: https://coolors.co/palette/0a0908-22333b-f2f4f3-a9927d-5e503f */

.App {
  background-color: #f2f4f3;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.leftside {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightside {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}